#####################################################
#
# List of approvers for OpenTelemetry Java Contrib
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
# 
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#
#

aws-xray/ @open-telemetry/opentelemetry-java-contrib-approvers @willarmiros

# Global Owners
* @open-telemetry/opentelemetry-java-contrib-approvers
