version: 2
registries:
  gradle-plugin-portal:
    type: maven-repository
    url: https://plugins.gradle.org/m2
    username: dummy # Required by dependabot
    password: dummy # Required by dependabot
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "gradle"
    directory: "/"
    ignore:
      - dependency-name: "io.micrometer:micrometer-core"
        # compileOnly dependency on old micrometer-core version is intentional
        versions: [ "(1.1.0,)" ]
      - dependency-name: "org.junit-pioneer:junit-pioneer"
        # junit-pioneer 2.x requires Java 11
        versions: [ "[1,)" ]
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
