# Compiled class file
*.class

# No jars
*.jar

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ
*.idea
*.iml

# Gradle
build
.gradle
local.properties
out/

# Maven (proto)
target

# Eclipse
.classpath
.project
.settings
bin

# NetBeans
/.nb-gradle
/.nb-gradle-properties

# VS Code
.vscode

# etc
.DS_Store

# Emacs
*~
\#*\#

# Vim
.swp

.gitpod.yml

# Gradle build scans
build-scan.txt
