type: jmxscraper

status:
  class: jvm
  stability:
    beta: [metrics]
  distributions: [contrib]
  codeowners:
    active: [mcmho]
    seeking_new: true

attributes:
{% for attr in (ctx.groups | selectattr("id", "equalto", "metric.attributes") | first).attributes %}  {{ attr.name | safe }}:
    description: {{ attr.brief | safe }}
    type: {{ attr.type | safe }}
{% endfor %}
metrics:
{% for m in ctx.groups | selectattr("type", "equalto", "metric") %}  {{ m.id | safe }}:
    description: {{ m.brief | safe }}
    {% if m.instrument == "counter" %}sum:
      aggregation_temporality: cumulative
      monotonic: true
      value_type: int
    {% elif m.instrument == "updowncounter" %}sum:
      monotonic: false
      aggregation_temporality: cumulative
      value_type: int
    {% else %}gauge:
      value_type: int
    {% endif %}unit: {{ m.unit }}
{% if m.attributes %}    attributes:{% for attr in m.attributes %}
      - {{ attr.name | safe }}{% endfor %}
{% endif %}{% endfor %}
