name: "Main Build"

on:
  push:
    branches:
      - main

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Java 17
        uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 17

      - uses: gradle/gradle-build-action@v2
        name: Build
        with:
          arguments: --stacktrace build

      - uses: actions/upload-artifact@v2
        name: Save unit test results
        if: always()
        with:
          name: test-results
          path: jmx-metrics/build/reports/tests/test

  integration-test:
    name: integration-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Java 17
        uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 17

      - uses: gradle/gradle-build-action@v2
        name: Integration Tests
        with:
          arguments: --stacktrace integrationTest

      - uses: actions/upload-artifact@v2
        name: Save integrationTest results
        if: always()
        with:
          name: integration-test-results
          path: jmx-metrics/build/reports/tests/integrationTest

  publish-snapshots:
    name: publish-snapshots
    runs-on: ubuntu-latest
    needs: [build, integration-test]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Java 17
        uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 17

      - uses: gradle/gradle-build-action@v2
        name: Publish
        with:
          arguments: --stacktrace snapshot
        env:
          SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
          SONATYPE_KEY: ${{ secrets.SONATYPE_KEY }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}
