name: Reusable - Shell script check

on:
  workflow_call:

permissions:
  contents: read

jobs:
  shell-script-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install shell check
        run: wget -qO- "https://github.com/koalaman/shellcheck/releases/download/stable/shellcheck-stable.linux.x86_64.tar.xz" | tar -xJv

      - name: Run shellcheck
        run: find -name '*.sh' | xargs shellcheck-stable/shellcheck --format=gcc
